<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
</head>
<body>
    <h1>My Todo List</h1>
    <ul>
        <% todos.forEach(function(todo){ %>
            <li><%= todo %></li>
        <% }); %>
    </ul>
</body>
</html>
